<% layout('../layouts/main') %>
<h3>Inventory Records of product <b><%= product.name %></b></h3>
<div class="alert alert-success d-none" role="alert" id="js-inv-record-deleted-alert">
    <span>Inventory record successfully deleted</span>
</div>


<table id="products-inventory-records-table" class="data-table table table-hover">
    <thead>
        <tr>
            <th>Inventory Name</th>
            <th>Allocation of <%= product.name %></th>
            <th>Expires At</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i = 0; i < product.InventoryRecords.length; i++ ) { %>
            <% if (product.InventoryRecords[i].Inventory !== null) { %>
                <tr data-href="">
                    <td><%= product.InventoryRecords[i].Inventory.name %></td>
                    <td><%= product.InventoryRecords[i].allocation %></td>
                    <td><%= product.InventoryRecords[i].expiresAt %></td>
                    <td><%= product.InventoryRecords[i].createdAt %></td>
                    <td><a class="btn btn-dark" href="/inventory-records/move?inventoryRecordId=<%= product.InventoryRecords[i].id %>">move</a>
                        <button class="btn btn-danger js--delete-inv-record" data-url="/inventory-records/delete?inventoryRecordId=<%= product.InventoryRecords[i].id %>">delete</button>
                    </td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
<a class="btn btn-dark mt-5" href="/products/<%= product.id %>">Back to product</a>
