<% layout('../layouts/main') %>

<h3>New Order</h3>
<form method="POST">
    <div class="form-group mb-2">
        <label>Description</label>
        <textarea name="description" class="form-control" cols="30" rows="10" placeholder="Enter description of order"></textarea>
    </div>
    <div class="form-group mb-2">
        <label>Select Client</label>
        <select name="clientId" class="form-select" required>
            <% for( let i = 0; i < clients.length; i++ ) { %>
                <option value="<%= clients[i].id %>"><%= clients[i].company_name %></option>
            <% } %>
        </select>
    </div>
    <div class="mb-2">
        <label>Add Product</label>
        <div class="row">
            <div class="col-8">
                <select name="productId" id="new-li-product" class="form-control" required>
                    <% for( let i = 0; i < products.length; i++ ) { %>
                        <option value="<%= products[i].id %>" data-price="<%= products[i].price %>"><%= products[i].name %> (<%= products[i].price %> UAH per tonn)</option>
                    <% } %>
                </select>
            </div>
            <div class="col-2">
                <input class="form-control" required type="number" name="quantity" id="new-li-qty" min="0.1" step="0.1" placeholder="quantity(tonn)">
            </div>
            <div class="col-1">
                <span id="new-li-total"></span>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark">+</button>
            </div>
        </div>
    </div>
</form>

<a class="btn btn-dark mt-5" href="/orders">Back to orders list</a>
